:root {
  --font: "Oxanium", cursive;
  --fontAlt: "Open Sans", sans-serif;
  --headColor: #bf028c;
  --iframeBg: #0e1927;
  --topBarHead: #0e1927;

  /* Desktop stuff */
  --desktop-HeadShadow: 0 2px 1px #8d0267, -1px 3px 1px #5b0142, -2px 5px 1px #28011d;
  --desktop-TextColor: #8b7af4;
  --desktop-VisitedColor: #634cf0;

  /* Mobile stuff */
  --mobile-HeadShadow: 0 1px 1px #8d0267, -1px 2px 1px #5b0142, -2px 4px 1px #28011d;
  --mobile-TextColor: #fc19be;
  --mobile-VisitedColor: #bf028c;

  /* SMUI vars */
  --mdc-theme-primary: rgb(191, 2, 140);
  --mdc-theme-secondary: rgb(22, 203, 189);
  --mdc-theme-on-primary: rgb(40, 42, 54);
  --mdc-theme-on-secondary: ;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  font-family: var(--font);
  color: var(--desktop-TextColor);
}

figure {
  font-style: italic;
  font-size: small;
}

footer {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

.outline {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.head {
  color: var(--headColor);
  text-shadow: var(--headShadow);
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: 0;
}

.down {
  color: #57ede2;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 98;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
  user-select: none;
}

.up {
  color: #57ede2;
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 98;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
  user-select: none;
}

.backHome {
  color: #57ede2;
  position: fixed;
  bottom: 140px;
  left: 20px;
  z-index: 98;
}

.overflow {
  overflow: hidden;
}

#skill {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
