<script>
  import { onMount } from "svelte";
  import { isMobile } from "$lib/store.js";
  import MobileLayout from "./MobileLayout.svelte";
  import bgDesktop from "$lib/assets/Desktop/main.svg";
  import bgMobile from "$lib/assets/Mobile/main.svg";
  import "$lib/app.css";
  import "$lib/smui.css";

  onMount(() => {
    isMobile.set(navigator.userAgent.match(/iphone|android|blackberry/gi) || false);
  });
</script>

{#if typeof $isMobile === "string"}
  <div class="bg" style="background-color:var(--loadingColor)" />
{:else if $isMobile}
  <div class="bg" style="background-image:url({bgMobile})" />
  <MobileLayout />
  <slot />
{:else if !$isMobile}
  <div class="bg" style="background-image:url({bgDesktop})" />
  <slot />
{/if}
