<script>
  import { isMobile } from "$lib/store.js";
  import Desktop from "./Desktop.svelte";
  import MobileBody from "./MobileBody.svelte";
</script>

{#if !$isMobile}
  <Desktop />
{:else if $isMobile}
  <MobileBody />
{/if}
