<script>
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import { email, matrix, linkedin, gitlab, github, skills } from "$lib/store.js";
  import { mdiArrowUpThick as mdiUp, mdiArrowDownThick as mdiDown } from "@mdi/js";
  import { Svg } from "@smui/common/elements";
  import Button, { Label } from "@smui/button";
  import IconButton, { Icon } from "@smui/icon-button";
  import { Parallax, ParallaxLayer } from "svelte-parallax";
  import Footer from "$lib/Footer/index.svelte";
  import cvpdf from "$lib/assets/cv.pdf";

  const sectorTitles = ["", "", "Home", "Contact", ""];
  const sectors = sectorTitles.length - 2;

  let height = 0;
  let parallax;
  let curSector = 1;
  let skill = $skills[0];
  let btnDownHide = false;
  let btnDownTxt = sectorTitles[curSector + 2];
  let btnUpHide = true;
  let btnUpTxt = sectorTitles[curSector - 2];

  const goDown = () => {
    curSector += 1;
    btnUpHide = false;
    parallax.scrollTo(curSector, { duration: 600 });
  };
  const goUp = () => {
    curSector -= 1;
    btnDownHide = false;
    parallax.scrollTo(curSector, { duration: 600 });
  };
  const nextSkill = () => {
    var index = $skills.indexOf(skill);
    if (index === $skills.length - 1) skill = $skills[0];
    else skill = $skills[$skills.indexOf(skill) + 1];
  };

  onMount(() => {
    document.body.classList.add("overflow"); // Disable scrolling!
    setTimeout(() => {
      goDown();
    }, 66);
    const interval = setInterval(() => {
      nextSkill();
    }, 2000);
    return () => {
      clearInterval(interval);
    };
  });

  $: if (height) parallax.scrollTo(curSector, { duration: 600 });
  $: if (curSector === 2) btnUpHide = true;
  $: if (curSector === sectors) btnDownHide = true;
  $: if (curSector) {
    btnDownTxt = sectorTitles[curSector + 1];
    btnUpTxt = sectorTitles[curSector - 1];
  }
</script>

<svelte:window bind:innerHeight={height} />

<div>
  <div class="down" class:btnDownHide>
    <IconButton on:click={goDown}>
      <Icon component={Svg}>
        <path d={mdiDown} />
      </Icon>
    </IconButton>
    <b>{btnDownTxt}</b>
  </div>
  <div class="up" class:btnUpHide>
    <IconButton on:click={goUp}>
      <Icon component={Svg}>
        <path d={mdiUp} />
      </Icon>
    </IconButton>
    <b>{btnUpTxt}</b>
  </div>
</div>

<Parallax sections={sectors} bind:this={parallax}>
  <ParallaxLayer offset={0} rate={1} />

  <ParallaxLayer offset={1.3} rate={1}>
    <h1 class="head desktop l1"><b>Vasileios Tzinis</b></h1>
  </ParallaxLayer>

  <ParallaxLayer offset={1.55} rate={0.8}>
    <div class="head desktop l2">
      <b>
        {#key skill}
          <p id="skill" style="margin: 0 0.5rem;" in:fade|local={{ duration: 500 }}>
            {skill}
          </p>
        {/key}
        Developer
      </b>
    </div>
  </ParallaxLayer>

  <ParallaxLayer offset={1.9} rate={0.2}>
    <div class="head desktop l3">
      <Label><b>Check out my:</b></Label>
      <Button variant="raised" on:click={() => { window.location = "/projects"; }}>
        <Label><b>Projects</b></Label></Button>
      <a target="_blank" rel="noopener noreferrer" href={cvpdf}>
        <Button variant="raised"><Label><b>CV</b></Label></Button>
      </a>
    </div>
  </ParallaxLayer>

  <div class="head l2">
    <ParallaxLayer offset={2.3} rate={1}>
      <p>
        email:
        <a target="_blank" rel="noopener noreferrer" href="mailto:{email}">
          {email}
        </a>
      </p>
    </ParallaxLayer>
    <ParallaxLayer offset={2.4} rate={0.9}>
      <p>
        matrix:
        <a target="_blank" rel="noopener noreferrer" href="https://matrix.to/#/{matrix}:matrix.org">
          {matrix}
        </a>
      </p>
    </ParallaxLayer>
    <ParallaxLayer offset={2.5} rate={0.8}>
      <p>
        <a target="_blank" rel="noopener noreferrer" href="https://{linkedin}">
          LinkedIn
        </a>
      </p>
    </ParallaxLayer>
    <ParallaxLayer offset={2.6} rate={0.7}>
      <p>
        <a target="_blank" rel="noopener noreferrer" href="https://{gitlab}">
          GitLab
        </a>
        /
        <a target="_blank" rel="noopener noreferrer" href="https://{github}">
          GitHub
        </a>
      </p>
    </ParallaxLayer>
  </div>
</Parallax>

<footer>
  <Footer />
</footer>

<style>
  * :global(a) {
    color: var(--desktop-TextColor);
  }

  * :global(a:visited) {
    color: var(--desktop-VisitedColor);
  }

  .head.desktop {
    text-shadow: var(--desktop-HeadShadow);
  }

  .head.l1 {
    font-size: 6vw;
  }

  .head.l2 {
    font-size: 2vw;
  }

  .head.l3 {
    font-size: 1.2vw;
  }

  .down.btnDownHide {
    opacity: 0.2;
    pointer-events: none;
  }

  .up.btnUpHide {
    opacity: 0.2;
    pointer-events: none;
  }
</style>
