<script>
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import { email, matrix, gitlab, github, skills, drawerMobile } from "$lib/store.js";
  import { mdiEmail, mdiGitlab, mdiGithub } from "@mdi/js";
  import { Svg } from "@smui/common/elements";
  import { AppContent, Scrim } from "@smui/drawer";
  import IconButton, { Icon } from "@smui/icon-button";

  let skill = $skills[0];

  const nextSkill = () => {
    var index = $skills.indexOf(skill);
    if (index === $skills.length - 1) skill = $skills[0];
    else skill = $skills[$skills.indexOf(skill) + 1];
  };

  onMount(() => {
    const interval = setInterval(() => {
      nextSkill();
    }, 2000);
    return () => {
      clearInterval(interval);
    };
  });
</script>

<Scrim fixed={false} />
<AppContent>
  <main>
    <div class="descBox">
      {#if $drawerMobile.activeType === "home"}
        <div class="desc home">
          <h1 class="head mobile l1">Vasileios Tzinis</h1>
          <b class="head mobile">
            {#key skill}
              <p id="skill" style="margin: 0 0.5rem;" in:fade|local={{ duration: 500 }}>
                {skill}
              </p>
            {/key}
            Developer
          </b>
          <div class="links">
            <p class="desc">
              <IconButton
                href="mailto:{email}"
                on:click={{}}
              >
                <Icon component={Svg}>
                  <path d={mdiEmail} />
                </Icon>
              </IconButton>
              <IconButton
                target="_blank"
                rel="noopener noreferrer"
                href="https://{gitlab}"
                on:click={{}}
              >
                <Icon component={Svg}>
                  <path d={mdiGitlab} />
                </Icon>
              </IconButton>
              <IconButton
                target="_blank"
                rel="noopener noreferrer"
                href="https://{github}"
                on:click={{}}
              >
                <Icon component={Svg}>
                  <path d={mdiGithub} />
                </Icon>
              </IconButton>
            </p>
          </div>
        </div>
      {:else}
        <p class="desc showcase read">
          <a target="_blank" rel="noopener noreferrer" href={$drawerMobile.showcaseUrl}>
            <img src={$drawerMobile.showcaseImage} alt="project_image" class="showcaseImage" />
          </a><br />
          {@html $drawerMobile.drawerActive}
        </p>
      {/if}
    </div>
  </main>
</AppContent>

<style>
  * :global(a) {
    color: var(--mobile-TextColor);
  }

  * :global(a:visited) {
    color: var(--mobile-VisitedColor);
  }

  main {
    overflow: auto;
    margin: 0px;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .head.mobile {
    text-shadow: var(--mobile-HeadShadow);
  }

  .head.l1 {
    font-size: 12vw;
  }

  .showcaseImage {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(22, 203, 189, 0.66) 0px 0px 6px 3px;
  }

  .descBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mobile-TextColor);
  }

  .desc {
    flex: 0 0 95%;
    margin: 0px auto 0px auto;
    padding: 5px;
    font-size: 5vw;
    text-align: center;
  }

  .desc.home {
    position: fixed;
    top: 30%;
    font-size: 6vw;
    text-align: right;
  }

  .desc.showcase {
    text-align: left;
  }

  .desc.read {
    font-family: "Open Sans", sans-serif;
  }

  .links {
    position: fixed;
    bottom: 10px;
    z-index: 98;
  }
</style>
