<script>
  import {
    urls,
    imageUrls,
    drawerMobile
  } from "$lib/store.js";
  import { mdiMenu, mdiHome } from "@mdi/js";
  import { Svg } from "@smui/common/elements";
  import List, { Subheader, Separator, Item, Text } from "@smui/list";
  import TopAppBar, { Row, Section, Title } from "@smui/top-app-bar";
  import Drawer, { Content } from "@smui/drawer";
  import IconButton from "@smui/icon-button";
  import Footer from "$lib/Footer/index.svelte";
  import containerMobile from "$lib/assets/Mobile/container.svg";
  import desc from "$lib/desc.js";
  import cvpdf from "$lib/assets/cv.pdf";

  const welcome = "Welcome to my Portfolio!";

  let titleMobile = welcome;
  let drawerOpen = false;
  let appBarActiveMobile = true;
</script>

<Drawer
  variant="modal"
  fixed="false"
  style="background-image:url({containerMobile});background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,0);box-shadow:none;z-index:3;"
  bind:open={drawerOpen}
>
  <Content>
    <List style="max-width:55%;">
      <Item />
      <Subheader><b>Websites</b></Subheader>
      <Separator />
      {#each Object.keys(desc.web) as key}
        <Item
          href="javascript:void(0)"
          on:click={() => {
            titleMobile = key;
            drawerMobile.toggle({
              drawerActive: desc.web[key],
              activeType: "web",
              showcaseUrl: $urls[key],
              showcaseImage: $imageUrls[key],
            });
            drawerOpen = !drawerOpen;
          }}
          activated={$drawerMobile.drawerActive === desc.web[key]}
        >
          <Text><b>{key}</b></Text>
        </Item>
      {/each}
      <Subheader><b>Desktop Apps</b></Subheader>
      <Separator />
      {#each Object.keys(desc.progs) as key}
        <Item
          href="javascript:void(0)"
          on:click={() => {
            titleMobile = key;
            drawerMobile.toggle({
              drawerActive: desc.progs[key],
              activeType: "progs",
              showcaseUrl: $urls[key],
              showcaseImage: $imageUrls[key],
            });
            drawerOpen = !drawerOpen;
          }}
          activated={$drawerMobile.drawerActive === desc.progs[key]}
        >
          <Text><b>{key}</b></Text>
        </Item>
      {/each}
      <Subheader><b>CV</b></Subheader>
      <Separator />
      <Item href={cvpdf}>
        <Text><b>download</b></Text>
      </Item>
    </List>
  </Content>
  <div style="text-align:left;margin-left:5px;">
    <Footer />
  </div>
</Drawer>
<div class="flexy">
  <div class="top-app-bar-container flexor">
    <TopAppBar variant="static" dense="true" style="z-index:-1;">
      <Row />
    </TopAppBar>
    <TopAppBar
      variant="fixed"
      dense="true"
      color={appBarActiveMobile ? "primary" : "secondary"}
      style="color:var(--topBarHead);"
    >
      <Row>
        <Section>
          <IconButton component={Svg} on:click={() => (drawerOpen = !drawerOpen)}>
            <path d={mdiMenu} />
          </IconButton>
          <Title>{titleMobile}</Title>
        </Section>
        <Section align="end" toolbar>
          <IconButton component={Svg} on:click={() => {
            titleMobile = "Home";
            drawerMobile.toggle({
              drawerActive: "home",
              activeType: "home",
              showcaseUrl: "",
              showcaseImage: "",
            });
          }}>
            <path d={mdiHome} />
          </IconButton>
        </Section>
      </Row>
    </TopAppBar>
  </div>
</div>

<style>
  .top-app-bar-container {
    width: 100%;
    height: auto;
    margin: 0 0px 0px 0;
    margin-right: 0;
    padding: 0px;
    border: 0px;
    overflow: auto;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
  }

  .flexy {
    display: flex;
    flex-wrap: wrap;
  }

  .flexor {
    display: inline-flex;
    flex-direction: column;
  }
</style>
