<script>
  import { isMobile, urls } from "$lib/store.js";
  import Desktop from "./Desktop.svelte";
  import desc from "$lib/desc.js";
</script>

{#if !$isMobile}
  <Desktop urls={$urls} {desc} />
{/if}
