<script>
  import { onMount } from "svelte";
  import { imageUrls } from "$lib/store.js";
  import {
    mdiArrowDownThick as mdiDown,
    mdiArrowUpThick as mdiUp,
    mdiArrowLeftThick as mdiLeft,
  } from "@mdi/js";
  import { Svg } from "@smui/common/elements";
  import { Label } from "@smui/button";
  import IconButton, { Icon } from "@smui/icon-button";
  import Tab from "@smui/tab";
  import TabBar from "@smui/tab-bar";
  import { Parallax, ParallaxLayer } from "svelte-parallax";

  export let urls, desc;

  const sectorTitles = ["", "Websites", "Applications", ""];
  const sectors = sectorTitles.length - 2;
  const webTabs = [...Object.keys(desc.web)];
  const progsTabs = [...Object.keys(desc.progs)];

  let height = 0;
  let parallax;
  let curSector = 1;
  let btnDownHide = false;
  let btnDownTxt = sectorTitles[curSector + 1];
  let btnUpHide = true;
  let btnUpTxt = sectorTitles[curSector - 1];
  let webActiveTab = webTabs[0];
  let progsActiveTab = progsTabs[0];

  const goDown = () => {
    curSector += 1;
    btnUpHide = false;
    parallax.scrollTo(curSector, { duration: 600 });
  };
  const goUp = () => {
    curSector -= 1;
    btnDownHide = false;
    parallax.scrollTo(curSector, { duration: 600 });
  };

  onMount(() => {
    document.body.classList.add("overflow");
    document.getElementById("href-websites-frame").src = urls[webActiveTab];
  });

  $: if (height) parallax.scrollTo(curSector, { duration: 600 });
  $: if (curSector === 1) btnUpHide = true;
  $: if (curSector === sectors) btnDownHide = true;
  $: if (curSector) {
    btnDownTxt = sectorTitles[curSector + 1];
    btnUpTxt = sectorTitles[curSector - 1];
  }
</script>

<svelte:window bind:innerHeight={height} />

<div>
  <div class="down" class:btnDownHide>
    <IconButton on:click={goDown} style="color:#57EDE2;">
      <Icon component={Svg}>
        <path d={mdiDown} />
      </Icon>
    </IconButton>
    <b>{btnDownTxt}</b>
  </div>
  <div class="up" class:btnUpHide>
    <IconButton on:click={goUp}>
      <Icon component={Svg}>
        <path d={mdiUp} />
      </Icon>
    </IconButton>
    <b>{btnUpTxt}</b>
  </div>
  <div class="backHome">
    <IconButton style="color:#57ede2;" href="/">
      <Icon component={Svg}>
        <path d={mdiLeft} />
      </Icon>
    </IconButton>
    <b>Back to Home</b>
  </div>
</div>

<div class="tabBarBg">
  <div style="z-index:1;position:fixed;height:48px;width:100%">
    {#if curSector === 1}
      <TabBar tabs={webTabs} let:tab bind:active={webActiveTab}>
        <Tab
          {tab}
          href={Object.keys(urls).includes(tab)
            ? Object.values(urls)[Object.keys(urls).indexOf(tab)]
            : undefined}
          target="href-websites-frame"
        >
          <b><Label>{tab}</Label></b>
        </Tab>
      </TabBar>
    {:else if curSector === 2}
      <TabBar tabs={progsTabs} let:tab bind:active={progsActiveTab}>
        <Tab {tab}>
          <b><Label>{tab}</Label></b>
        </Tab>
      </TabBar>
    {/if}
  </div>
</div>

<Parallax sections={sectors} bind:this={parallax}>
  <!-- WEBSITES --->
  <ParallaxLayer offset={sectors - 2} rate={0.6} style="margin-top:48px;">
    <div class="row">
      <div class="column desc">
        <p class="desc left read">{@html desc.web[webActiveTab]}</p>
      </div>
      <div class="column frame">
        <iframe
          title="Selected Tab"
          id="href-websites-frame"
          name="href-websites-frame"
          style="loading:lazy;width:90%;height:{height * 0.9}px;
            border: 1px solid #16CBBD;background-color:var(--iframeBg)"
        />
      </div>
    </div>
  </ParallaxLayer>
  <!-- PROGRAMS --->
  <ParallaxLayer offset={sectors - 1} rate={0.6} style="margin-top:48px;">
    <div class="row">
      <div class="column desc">
        <p class="desc left read">{@html desc.progs[progsActiveTab]}</p>
      </div>
      <div class="column frame">
        <a rel="noopener noreferrer" target="_blank" href={urls[progsActiveTab]}>
          <figure>
            <img src={$imageUrls[progsActiveTab]} alt="project_image" />
            <figcaption>Click to see the code!</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </ParallaxLayer>
</Parallax>

<style>
  * :global(a) {
    color: var(--desktop-TextColor);
  }

  * :global(a:visited) {
    color: var(--desktop-VisitedColor);
  }

  .down.btnDownHide {
    opacity: 0.2;
    pointer-events: none;
  }

  .up.btnUpHide {
    opacity: 0.2;
    pointer-events: none;
  }

  .tabBarBg{
    z-index: 2;
    position: fixed;
    height: 48px;
    width: 100%;
    background-color: var(--iframeBg);
  }

  .row:after {
    display: table;
    width: 100%;
    clear: both;
  }

  .column {
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .column.desc {
    margin-left: 2%;
    margin-right: 0px;
    width: 25%;
    text-align: justify;
  }

  .column.frame {
    margin-left: 0px;
    margin-right: 0px;
    width: 73%;
  }

  .desc {
    font-size: 1.5vw;
    flex: 0 0 95%;
  }

  .desc.left {
    font-size: 1vw;
    text-align: left;
  }

  .desc.read {
    font-family: var(--fontAlt);
  }
</style>
