<script>
  import repoPng from "$lib/assets/repo.png";
  import { repo, license, licensePng } from "$lib/store.js";
</script>

<a target="_blank" rel="noopener noreferrer" href={$license}>
  <img alt="License" src={$licensePng} />
</a>
<a target="_blank" rel="noopener noreferrer" href={$repo}>
  <img alt="Repository" src={repoPng} />
</a>
